Repository MineiToshio/Personal-Page: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint . --fix, bash -c tsc --pretty --noEmit

feat: added blog link in header
  components/layout/MainLayout/Header.tsx
Due: prettier --write, eslint . --fix, bash -c tsc --pretty --noEmit

chore: hide post arrows
  pages/[lang]/blog/[postUrl].tsx
Due: prettier --write, eslint . --fix, bash -c tsc --pretty --noEmit

chore: shorten text summary in posts
  components/layout/MainLayout/MainLayout.tsx
  helpers/formatHtml.ts
  helpers/shortenText.ts
  pages/[lang]/blog/[postUrl].tsx
  pages/[lang]/blog/index.tsx
Due: prettier --write, eslint . --fix, bash -c tsc --pretty --noEmit

docs: change copyright link in readme
  README.md
Due: prettier --write

chore: added Alo Home to portfolio
  components/pages/home/Projects/Portfolio.tsx
  public/data/projects.json
  public/img/portfolio/14/1.png
  public/img/portfolio/14/2.png
  public/img/portfolio/14/3.png
  public/img/portfolio/14/4.png
  public/img/portfolio/14/5.png
  public/img/portfolio/thumbnails/14.png
Due: prettier --write, eslint . --fix, bash -c tsc --pretty --noEmit

fix: add key in Portfolio map
  components/pages/home/Projects/Portfolio.tsx
Due: prettier --write, eslint . --fix, bash -c tsc --pretty --noEmit

chore: upgrade react, next and typescript
  .gitignore
  components/core/I18nLink/I18nLink.tsx
  components/core/Link/Link.tsx
  components/pages/blog/PostPreview/PostPreview.tsx
  components/shared/ImageGallery/Images.tsx
  components/shared/ImageGallery/InfoPanel.tsx
  components/shared/ScrollUp/ScrollUp.tsx
  firebase/auth.ts
  hocs/withLocale.tsx
  next-env.d.ts
  next.config.js
  package-lock.json
  package.json
  styles/common.ts
  tsconfig.json
  types/external.d.ts
Due: prettier --write, eslint . --fix, bash -c tsc --pretty --noEmit

chore: upgrade font awesome
  .babelrc
  babel-plugin-macros.config.js
  package-lock.json
  package.json
  pages/_app.tsx
  styles/icons.ts
Due: prettier --write, eslint . --fix, bash -c tsc --pretty --noEmit

chore: upgrade html-to-text
  helpers/formatHtml.ts
  package-lock.json
  package.json
Due: prettier --write, eslint . --fix, bash -c tsc --pretty --noEmit

chore: upgrade modules with patch changes
  components/shared/TimeAgo/TimeAgo.tsx
  package-lock.json
  package.json
Due: prettier --write, eslint . --fix, bash -c tsc --pretty --noEmit

chore: upgrade minor changes modules
  .eslintrc.js
  components/core/Input/Input.tsx
  components/pages/blog/PostPreview/PostPreview.tsx
  components/shared/BlogPostForm/Form.tsx
  package-lock.json
  package.json
  pages/[lang]/blog/index.tsx
Due: prettier --write, eslint . --fix, bash -c tsc --pretty --noEmit

fix: change font stylesheet position
  components/layout/BaseLayout/BaseLayout.tsx
  pages/_document.tsx
Due: prettier --write, eslint . --fix, bash -c tsc --pretty --noEmit

chore: update HtmlView modules
  components/core/TextEditor/HtmlView.tsx
  next.config.js
  package-lock.json
  package.json
  pages/_app.tsx
Due: prettier --write, eslint . --fix, bash -c tsc --pretty --noEmit

chore: add output: 'standalone' in next config
  next.config.js
Due: prettier --write, eslint . --fix

chore: updated package-lock.json
  package-lock.json
Due: prettier --write

chore: migrate @now/next to @vercel/next in vercel.json
  vercel.json
Due: prettier --write

Path conditions:
  prettier --write: any of: *
  eslint . --fix: any of: **/*.{js,jsx,ts,tsx}
  bash -c tsc --pretty --noEmit: any of: **/*.{ts,tsx}
